/* @import url('https://fonts.googleapis.com/css?family=Inter:wght@400;500;600;700'); */

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 16px;
  max-width: 960px;
  min-height: 100vh;
}

.logo-title {
  color: #456595;
  background-image: -webkit-linear-gradient(315deg, #456595 0%, #14b0db 33%, #3646a3 67%);
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}

.underline-text {
  text-decoration: underline;
  -webkit-text-decoration-color: rgb(44, 125, 255);
  text-decoration-color: rgb(44, 125, 255);
  -webkit-text-decoration-style: wavy;
  text-decoration-style: wavy;
  text-decoration-skip-ink: none;
  transition: 0.3s;
}

.underline-text:hover {
  -webkit-text-decoration-color: rgb(248, 255, 44);
  text-decoration-color: rgb(248, 255, 44);
}

.text-gradient-clip {
  background-image: -webkit-linear-gradient(315deg, #456595 0%, #14b0db 33%, #3646a3 67%);
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}

label {
  display: flex !important;
  width: 100%;
  flex-grow: 1;
}

pre {
  overflow-x: hidden !important;
}

h2 {
  margin-bottom: var(--space-6);
}

h3,
h4 {
  margin-bottom: var(--space-4);
}

p {
  margin-bottom: var(--space-4);
}
