.pattern {
  background-image: radial-gradient(#151515 0.75px, transparent 0.75px),
    radial-gradient(#111111 0.75px, #060606 0.75px);
  background-size: 30px 30px;
  background-position: 0 0, 15px 15px;
}

.pattern-light {
  background-image: radial-gradient(#ecebeb 0.75px, transparent 0.75px),
    radial-gradient(#e6e6e6 0.75px, #f4f4f4 0.75px);
  background-size: 30px 30px;
  background-position: 0 0, 15px 15px;
}

.container {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  padding: 16px;
  max-width: 960px;
  min-height: 100vh;
}

.logo-title {
  color: #456595;
  background-image: -webkit-linear-gradient(315deg, #456595 0%, #14b0db 33%, #3646a3 67%);
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}

.underline-text {
  text-decoration: underline;
  -webkit-text-decoration-color: rgb(44, 125, 255);
  text-decoration-color: rgb(44, 125, 255);
  -webkit-text-decoration-style: wavy;
  text-decoration-style: wavy;
  text-decoration-skip-ink: none;
  transition: 0.3s;
}

.underline-text:hover {
  -webkit-text-decoration-color: rgb(248, 255, 44);
  text-decoration-color: rgb(248, 255, 44);
}

.text-gradient-clip {
  background-image: -webkit-linear-gradient(315deg, #456595 0%, #14b0db 33%, #3646a3 67%);
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}

label {
  display: flex !important;
  width: 100%;
  flex-grow: 1;
}

pre {
  overflow-x: hidden !important;
}

h2 {
  margin-bottom: var(--space-6);
}

h3,
h4 {
  margin-bottom: var(--space-4);
}

p {
  margin-bottom: var(--space-4);
}

@media (max-width: 928px) {
  .snippet-container {
    flex-direction: column-reverse;
    align-items: flex-end;
  }

  pre {
    width: 100%;
    overflow-x: visible !important;
  }

  .snippet-controls {
    padding: 0;
    width: 100%;
    align-items: flex-end;
  }
  .snippet-controls textarea {
    margin-top: var(--space-4);
  }
}

@media (max-width: 480px) {
  .logo {
    width: 40px !important;
    height: 40px !important;
    margin-right: var(--space-2);
  }
  .logo-container span {
    font-size: var(--font-sizes-normal);
    margin-left: var(--space-0);
  }
  .logo-container button {
    padding: 0 var(--space-3);
    height: 36px;
  }
  .logo-container button span {
    font-size: var(--font-sizes-xsmall) !important;
  }

  .theme-switch-button {
    margin-right: 0;
  }
}
